@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap');

#root {
  margin: 0 auto;
  padding: 0;
}

.elegant-serif {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  flex-shrink: 0;
  animation: marquee 30s linear infinite;
}
