#root {
  margin: 0 auto;
  padding: 0;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  flex-shrink: 0;
  animation: marquee 30s linear infinite;
}
